---
---
@import "bootstrap"

// custom variables
$general-padding: 15px


#menu-toggle
    position: absolute
    top:   $general-padding
    right: $general-padding

@media (max-width: $screen-xs-max)
    #leftbar
        background: #ddd
