---
title: About Me
---

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="row">
      <div class="col-xs-12 text-center">
        {% if site.author.avatar %}
          {% if site.author.avatar contains "//" %}
            {% capture avatar %}{{ site.author.avatar }}{% endcapture %}
          {% else %}
            {% capture avatar %}{{ site.author.avatar | prepend: site.baseurl }}{% endcapture %}
          {% endif %}
          <img class="img-responsive img-rounded" src="{{ avatar }}">
        {% else %}
          <h1 class="poorman-thumbnail" style="background: #48c;">
            {{ site.author.name | truncate: 1, '' }}
          </h1>
        {% endif %}  
      </div>
      <div class="col-xs-12 text-center">
        <h4 class="hidden-xs">Find Me On</h4>
        <ul class="list-inline">
        {% for social in site.author.socials %}
          {% if social[1] %}
            <li>
              <a href="{{ social | last }}">
                <i class="fa fa-lg fa-{{ social | first }}"></i>
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8">
    <h2>{{ site.author.name }}</h2>
    {{ site.author.profile | markdownify }}
  </div>
</div>
