---
title: Blog Archives
---

<ul class="list-group">
{% assign year_count = 1 %}
{% assign month_count = 1 %}
{% for post in site.posts %}

  {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.next.date | date: "%Y" }}{% endcapture %}
  {% capture prev_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if year != next_year %}
    <li class="list-group-item">
      <a class="list-toggle" href="#">
        <i class="fa fa-plus-square"></i>
        {{ post.date | date: "%Y" }}
      </a>
      <ul class="list-group hidden">
  {% else %}
    {% capture year_count %}{{ year_count | plus: 1 }}{% endcapture %}
  {% endif %}

  {% capture month %}{{ post.date | date: "%m%Y" }}{% endcapture %}
  {% capture next_month %}{{ post.next.date | date: "%m%Y" }}{% endcapture %}
  {% capture prev_month %}{{ post.previous.date | date: "%m%Y" }}{% endcapture %}

  {% if month != next_month or forloop.first %}
    <li class="list-group-item">
      <a class="list-toggle" href="#">
        <i class="fa fa-plus-square"></i>
        {{ post.date | date: "%B" }}
      </a>
      <ul class="list-group hidden">
  {% else %}
    {% capture month_count %}{{ month_count | plus: 1 }}{% endcapture %}
  {% endif %}

  <li class="list-group-item">
    <span class="label label-info">{{ post.date | date_to_string }}</span>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </li>

  {% if month != prev_month or forloop.last %}
      </ul>
      <span class="badge">{{ month_count }}</span>
      {% assign month_count = 1 %}
    </li>
  {% endif %}

  {% if year != prev_year or forloop.last %}
      </ul>
      <span class="badge">{{ year_count }}</span>
      {% assign year_count = 1 %}
    </li>
  {% endif %}

{% endfor %}
</ul>
