---
title: Projects
---

<div class="row-fluid">
{% for project in site.data.projects %}
  <div class="col-xs-12">
    {% if project.url %}
      <h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
    {% else %}
      <h2>{{ project.name }}</h2>
    {% endif %}
  </div>
  <div class="clearfix"></div>
  <div class="col-xs-4">
    <div class="text-center">
    {% if project.thumbnail %}
      {% if project.thumbnail contains "//" %}
        {% capture thumbnail %}{{ project.thumbnail }}{% endcapture %}
      {% else %}
        {% capture thumbnail %}{{ project.thumbnail | prepend: site.baseurl }}{% endcapture %}
      {% endif %}
      <img class="img-responsive img-rounded" src="{{ thumbnail }}">
    {% else %}
      <h1 class="poorman-thumbnail"
          style="background: {% cycle 'c': "#48c", "#fa4", "#5b5", "#d54" %};">
        {{ project.name | truncate: 1, '' }}
      </h1>
    {% endif %}
    </div>
  </div>
  <div class="col-xs-8">
    <p>
      {% if project.date %}
        <span class="label label-info">
          <i class="fa fa-calendar-o"></i>
          {{ project.date }}
        </span>
        {% if project.languages %}&nbsp;{% endif %}
      {% endif %}
      {% for language in project.languages %}
        <span class="label label-default">
          <i class="fa fa-fw fa-language"></i>
          {{ language }}
        </span>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% if project.frameworks %}&nbsp;{% endif %}
      {% endfor %}
      {% for framework in project.frameworks %}
        <span class="label label-default">
          <i class="fa fa-fw fa-wrench"></i>
          {{ framework }}
        </span>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </p>
    {{ project.desc | markdownify }}
  </div>
  <div class="clearfix"></div>
  {% unless forloop.last %}
  <div class="col-xs-12"><hr /></div>
  {% endunless %}
{% endfor %}
</div>
<hr />
