<div class="col-xs-12 col-sm-4 col-md-3 relative" id="leftbar">
  <button type="button" class="btn btn-default visible-xs" id="menu-toggle">
    <span class="glyphicon glyphicon-list-alt"></span>
  </button>
  <h2>{{ site.name }}</h2>
  <div id="menubar">
    <hr />
    <h3>Blog</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/archives.html">Archives</a></li>
      <li><a href="#">tags</a></li>
    </ul>
    <hr />
    <h3>Everything Else</h3>
    <ul>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Gallery</a></li>
    </ul>
  </div>
</div>
