<div class="col-xs-6 col-sm-12">
  <h3>Blog</h3>
  <ul class="list-unstyled">
    <li>
      <h4>
        <a class="emphasis" href="{{ site.baseurl }}/archives.html">
          <i class="fa fa-fw fa-archive"></i>
          Archives
          <span class="hover-reveal pull-right">
            {{ site.posts | size }}
          </span>
        </a>
      </h4>
    </li>
    <li>
      <h4>
        <a class="emphasis" href="{{ site.baseurl }}/tags.html">
          <i class="fa fa-fw fa-tags"></i>
          Tags
          <span class="hover-reveal pull-right">
            {{ site.tags | size }}
          </span>
        </a>
      </h4>
    </li>
  </ul>
</div>
<div class="col-xs-6 col-sm-12">
  <h3>Everything</h3>
  <ul class="list-unstyled">
    <li>
      <h4>
        <a class="emphasis" href="{{ site.baseurl }}/projects.html">
          <i class="fa fa-fw fa-flask"></i>
          Projects
          <span class="hover-reveal pull-right">
            {{ site.data.projects | size }}
          </span>
        </a>
      </h4>
    </li>
    <li>
      <h4>
        <a class="emphasis" href="{{ site.baseurl }}/about.html">
          <i class="fa fa-fw fa-user"></i>
          About Me
        </a>
      </h4>
    </li>
  </ul>
</div>
