<div class="col-xs-6 col-sm-12">
  <h3>Blog</h3>
  <ul class="list-unstyled">
    <li>
      <h4>
        <a href="{{ site.baseurl }}/archives.html">
          <i class="fa fa-fw fa-archive"></i>
          Archives
        </a>
      </h4>
    </li>
    <li>
      <h4>
        <a href="{{ site.baseurl }}/tags.html">
          <i class="fa fa-fw fa-tags"></i>
          Tags
        </a>
      </h4>
    </li>
  </ul>
</div>
<div class="col-xs-6 col-sm-12">
  <h3>Everything</h3>
  <ul class="list-unstyled">
    <li>
      <h4>
        <a href="{{ site.baseurl }}/projects.html">
          <i class="fa fa-fw fa-flask"></i>
          Projects
        </a>
      </h4>
    </li>
    <li>
      <h4>
        <a href="#">
          <i class="fa fa-fw fa-paint-brush"></i>
          Gallery
        </a>
      </h4>
    </li>
  </ul>
</div>
