<div class="col-xs-6 col-sm-12">
  <h3>Blog</h3>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <a href="{{ site.baseurl }}/archives.html">
        <h4>
          <i class="fa fa-fw fa-archive"></i>
          Archives
          <span class="hidden-xs pull-right">
            {{ site.posts | size }}
          </span>
        </h4>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/tags.html">
        <h4>
          <i class="fa fa-fw fa-tags"></i>
          Tags
          <span class="hidden-xs pull-right">
            {{ site.tags | size }}
          </span>
        </h4>
      </a>
    </li>
  </ul>
</div>
<div class="col-xs-6 col-sm-12">
  <h3>Everything</h3>
  <ul class="nav nav-pills nav-stacked" role="tablist">
    <li>
      <a href="{{ site.baseurl }}/projects.html">
        <h4>
          <i class="fa fa-fw fa-flask"></i>
          Projects
          <span class="hidden-xs pull-right">
            {{ site.data.projects | size }}
          </span>
        </h4>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/about.html">
        <h4>
          <i class="fa fa-fw fa-user"></i>
          About Me
        </h4>
      </a>
    </li>
  </ul>
</div>
