<div class="hidden-xs col-sm-12" id="roaming-nav-quick">
  <div class="row-fluid">
  {% capture pathtype %}{{ page.path | split: '/' | first }}{% endcapture %}
  {% if pathtype == '_posts' %}
    <div class="col-xs-2 col-sm-6" id="roaming-nav-prev">
      <a href="#">&laquo;</a>
    </div>
    <div class="col-xs-2 col-sm-6" id="roaming-nav-next">
      <a href="#">&raquo;</a>
    </div>
  {% elsif pathtype == 'page' or page.url == '/index.html' %}
    <div class="col-xs-2 col-sm-6" id="roaming-nav-prev">
    {% if paginator.previous_page %}
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
        &laquo;
      </a>
    {% endif %}
    </div>
    <div class="col-xs-2 col-sm-6" id="roaming-nav-next">
    {% if paginator.next_page %}
      <a href="{{ site.baseurl }}{{ paginator.next_page_path }}">
        &raquo;
      </a>
    {% endif %}
    </div>
  {% endif %}
  </div>
</div>
