<div class="col-xs-12 col-sm-4 col-md-3">
  <h3>Recent Posts</h3>
  <ol>
    <li><a href="#">latest blog</a></li>
    <li><a href="#">older than latest</a></li>
    <li><a href="#">much more older</a></li>
  </ol>
  <hr />
  <h3>Navigation</h3>
  <div class="container-fluid">
    <div class="col-xs-6">
      <a href="#">&lt; next</a>
    </div>
    <div class="col-xs-6">
      <a href="#">prev &gt;</a>
    </div>
  </div>
  <hr />
  <h3>Share This</h3>
  <ul>
    <li><a href="#">facebook</a></li>
    <li><a href="#">twitter</a></li>
    <li><a href="#">etc.</a></li>
  </ul>
</div>
